@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 21%, rgba(0, 0, 0, 0) 65%) no-repeat;
        width: 100vw;
    }

    .img-character {
        height: 85%;
    }

    .logo {
        height: 67px;
        width: 151px;
    }

    .content {
        justify-content: flex-end;
        left: 0;
        top: -21%;
        max-width: 100vw;
        padding: 31px;
    }

    .character-name {
        font-size: 27px;
    }

    .description {
        max-width: 500px;
        font-size: 17px;
    }

    .buttons {
        flex-direction: row;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        padding: 31px;
        background-color: none;
    }

    .button img {
        max-width: 61px;
    }
}

@media (max-width: 425px) {
    main .character .img-character {
        height: auto;
    }

    .logo {
        height: 47px;
        width: 109px;
    }

    .content {
        top: -31%;
    }

    .content .character-name {
        font-size: 19px;
    }

    .buttons {
        top: -21%;
        padding: 21px;
        background-color: none;
    }

    .button img {
        max-width: 41px;
    }

    .description {
        max-width: 250px;
        font-size: 13px;
    }
}